In [ ]:
print('hello \nworld')
print('hello\tworld')
print('hello\'world')
print("hello\"world")
print("hello\\nworld")

hello
world
hello	world
hello'world
hello"world
hello\nworld

In [ ]:
my_list = ['Akash',21, 'Python', True, 5.5]
print(my_list)

['Akash', 21, 'Python', True, 5.5]

In [ ]:
# list indexing

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'mango']   #Accessing elements using positive index
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[3])

apple
banana
cherry
mango

In [ ]:
print(fruits[-1])
print(fruits[-2])
print(fruits[-3])
print(fruits[-4])

mango
cherry
banana
apple

In [ ]:
# list sclicing

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(numbers[2:6])

[2, 3, 4, 5]

In [ ]:
print(numbers[:5])
print(numbers[5:])
print(numbers[:])

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(numbers[::2])
print(numbers[1::2])
print(numbers[::-1])

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
# MODIFYING LISTS

In [ ]:
#in python lists are mutable which means you can:
#change the elements using indexing

In [ ]:
fruits = ['apple','banana', 'cherry']
fruits[1] = 'blueberry'
print(fruits)

['apple', 'blueberry', 'cherry']

In [ ]:
fruits.append('chiku')
print(fruits)

['apple', 'blueberry', 'cherry', 'mango', 'chiku']

In [ ]:
fruits.insert(1, 'kiwi')   # INSERT ADDS ONE SPECIFIC ITEMS
print(fruits)

['apple', 'kiwi', 'blueberry', 'cherry', 'mango', 'chiku']

In [ ]:
fruits.extend(['fig', 'grapes'])   #EXTENDS ADD MULTIPLE ITEMS
print(fruits)

['apple', 'kiwi', 'blueberry', 'cherry', 'mango', 'chiku', 'fig', 'grapes']

In [ ]:
fruits.remove('blueberry')   #REMOVE BY VALUE
print(fruits)

['apple', 'kiwi', 'cherry', 'mango', 'chiku', 'fig', 'grapes']

In [ ]:
popped_item = fruits.pop()   #POP removes last items (or by index)
print(popped_item)
print(fruits)

grapes
['apple', 'kiwi', 'cherry', 'mango', 'chiku', 'fig']

In [ ]:
del fruits[2]
print(fruits)

['apple', 'kiwi', 'mango', 'chiku', 'fig']

In [ ]:
# CLEARING THE LIST

In [ ]:
list6 = [1, 2, 3, 4, 5]
print("Before clearing:", list6)

Before clearing: [1, 2, 3, 4, 5]

In [ ]:
list6.clear()
print("After clearing:", list6)

After clearing: []

In [ ]:
# COPYING LISTS

In [ ]:
list1 = [1, 2, 3, 4]
list2 = list1

list2.append(5)
print("list1:", list1)
print("list2:", list2)

list1: [1, 2, 3, 4, 5]
list2: [1, 2, 3, 4, 5]

In [ ]:
list3 = [10, 20, 30]
list4 = list3.copy()

list4.append(40)
print("list3:", list3)
print("list4:", list4)

list3: [10, 20, 30]
list4: [10, 20, 30, 40]

In [ ]:
list5 = list(list3)
list5.append(50)
print("list3:", list3)
print("list5:", list5)

list3: [10, 20, 30]
list5: [10, 20, 30, 50]

In [ ]:
# JOINING LISTS

In [1]:
list_a =[1, 2, 3]
list_b = [4, 5, 6]

combined = list_a + list_b
print("Joined using + :", combined)

Joined using + : [1, 2, 3, 4, 5, 6]

In [2]:
list_c = ['apple', 'banana']
list_d = ['cherry', 'mango']

list_c.extend(list_d)
print("After extend:", list_c)

After extend: ['apple', 'banana', 'cherry', 'mango']

In [ ]:
# MEMBERSHIP testing

In [3]:
numbers = [10, 20, 30, 40, 50]

print(30 in numbers)
print(60 in numbers)

print(25 not in numbers)
print(10 not in numbers)

True
False
True
False

In [4]:
list1 = ['one', 'two','three', 'four']
print('one' in list1)

True

In [5]:
print('ten' in list1)

False

In [6]:
if 'three' in list1:
  print('three id present in the list')
else:
  print('three is not present in the list')

three id present in the list

In [7]:
if 'eleven' in list1:
  print('eleven is present in the list')
else:
  print('eleven is not present in the list')

eleven is not present in the list

In [ ]:
# Reversing and sorting lists

In [8]:
list1 = ['red', 'green', 'yellow', 'orane', 'purple']
list1.reverse()
print("Reversed with .reverse():", list1)

Reversed with .reverse(): ['purple', 'orane', 'yellow', 'green', 'red']

In [9]:
list1 = list1[::-1]
print("Reversed with slicing:", list1)

Reversed with slicing: ['red', 'green', 'yellow', 'orane', 'purple']

In [10]:
mylist3 = [18, 5, 27, 99, 12, 88, 34]
mylist3.sort()
print("Ascending:", mylist3)

Ascending: [5, 12, 18, 27, 34, 88, 99]

In [11]:
mylist3 = [18, 5, 27, 99, 12, 88, 34]
mylist3.sort()
print("Descending:", mylist3)

Descending: [5, 12, 18, 27, 34, 88, 99]

In [12]:
mylist4 = [77, 65, 33, 21, 11, 98]
print("sorted new list:", sorted(mylist4))
print("Original list remains unchanged:", mylist4)

sorted new list: [11, 21, 33, 65, 77, 98]
Original list remains unchanged: [77, 65, 33, 21, 11, 98]

In [ ]:
# Looping through lists

In [13]:
cities = ['Mumbai', 'Delhi', 'Kolkata', 'Chennai']
for city in cities:
  print(city)

Mumbai
Delhi
Kolkata
Chennai

In [14]:
for i in enumerate(cities):
  print(i)

(0, 'Mumbai')
(1, 'Delhi')
(2, 'Kolkata')
(3, 'Chennai')

In [ ]:
#COUNT AND Occurrence

In [15]:
brands= ['Nike', 'Adidas', 'puma', 'Nike', 'Reebok', 'Nike']
print("Nike appears:", brands.count('Nike'), "times")
print("Index of Puma:", brands.index('puma'))

Nike appears: 3 times
Index of Puma: 2

In [ ]:
# BUILT-IN FUNCTIONS - all() and any()

In [16]:
marks = [80, 90, 70, 60]

print("Are all marks non-zero? :", all(marks))
print("Is there any non-zero mark? :", any(marks))

marks_with_zero = [80, 0, 70, 60]

print("Are all marks non-zero? :", all(marks_with_zero))
print("Is there any non-zero mark? :", any(marks_with_zero))

Are all marks non-zero? : True
Is there any non-zero mark? : True
Are all marks non-zero? : False
Is there any non-zero mark? : True