In [ ]:
myset= {1, 2, 3, 4, 5, 6}
print("myset:", myset)

myset: {1, 2, 3, 4, 5, 6}

In [ ]:
set1 = ([1, 2, 3, 4, 5, 6])
print("set1:", set1)

set1: [1, 2, 3, 4, 5, 6]

In [ ]:
set2 = {1, 2, 3, 2, 4, 1, 5}
print("set2 (duplicates removed):", set2)

set2 (duplicates removed): {1, 2, 3, 4, 5}

In [ ]:
set3 = {10, 5.6, 'Hi', (1, 2, 3)}
print("set3(mixed types):", set3 )

set3(mixed types): {'Hi', 10, (1, 2, 3), 5.6}

In [ ]:
# set membership testing

In [ ]:
myset = {10, 20, 30, 40, 50}
print(20 in myset)

True

In [ ]:
print(200 in myset)

False

In [ ]:
print(50  not in myset)

False

In [ ]:
# modifying sets:add(),remove(),update(),discard(),clear

In [ ]:
myset = {10, 20, 30}
print("Original set:", myset)

Original set: {10, 20, 30}

In [ ]:
myset.add(40)
print("After add(40):", myset)

After add(40): {40, 10, 20, 30}

In [ ]:
myset.update([50,60,70])
print("After update([50, 60, 70]):", myset)

After update([50, 60, 70]): {70, 40, 10, 50, 20, 60, 30}

In [ ]:
myset.remove(20)
print("After remove(20):", myset)

After remove(20): {70, 40, 10, 50, 60, 30}

In [ ]:
myset.discard(999)
print("After discard(999):", myset)

After discard(999): {70, 40, 10, 50, 60, 30}

In [ ]:
myset.clear()
print("After clear():", myset)

After clear(): set()

In [ ]:
# set copy behavior-refrence vs copy

In [ ]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
print("myset:", myset)

myset: {'three', 'seven', 'four', 'six', 'one', 'five', 'eight', 'two'}

In [ ]:
myset1 = myset
print("myset1:", myset1)

myset1: {'three', 'seven', 'four', 'six', 'one', 'five', 'eight', 'two'}

In [ ]:
print("id(myset):", id(myset))
print("id(myset1):", id(myset1))

id(myset): 132900786609216
id(myset1): 132900786609216

In [ ]:
my_set = myset.copy()
print("my_set (copy):", my_set)

my_set (copy): {'three', 'seven', 'four', 'six', 'one', 'five', 'eight', 'two'}

In [ ]:
print("id(my_set):", id(my_set))

id(my_set): 132899892641152

In [ ]:
my_set.add('nine')
print("my_set:", my_set)

my_set: {'three', 'seven', 'four', 'six', 'one', 'nine', 'five', 'eight', 'two'}

In [ ]:
print("myset1:", myset1)

myset1: {'three', 'seven', 'four', 'six', 'one', 'five', 'eight', 'two'}

In [ ]:
print("my_set (copy):", my_set)

my_set (copy): {'three', 'seven', 'four', 'six', 'one', 'nine', 'five', 'eight', 'two'}

In [ ]:
# set operations

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
C = {8, 9, 10}

print("A | B:", A | B)
print("A.union(B):", A.union(B))
print("A.union(B, C):", A.union(B, C))

A | B: {1, 2, 3, 4, 5, 6, 7, 8}
A.union(B): {1, 2, 3, 4, 5, 6, 7, 8}
A.union(B, C): {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
A.update(B, C)
print("After A.update(B, C):", A)

After A.update(B, C): {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print("A & B:", A & B)
print("A.intersection(B):", A.intersection(B))

A & B: {4, 5}
A.intersection(B): {4, 5}

In [ ]:
A.intersection_update(B)
print("After A.intersection_update(B):", A)

After A.intersection_update(B): {4, 5}

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print("A - B:", A - B)
print("A.difference(B):", A.difference(B))

A - B: {1, 2, 3}
A.difference(B): {1, 2, 3}

In [ ]:
B.difference_update(A)
print("After B.difference_update(A):", B)

After B.difference_update(A): {6, 7, 8}

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print("A ^ B:", A ^ B)
print("A.symmetric_difference(B):", A.symmetric_difference(B))

A ^ B: {1, 2, 3, 6, 7, 8}
A.symmetric_difference(B): {1, 2, 3, 6, 7, 8}

In [ ]:
A.symmetric_difference_update(B)
print("After A.symmetric_difference_update(B):", A)

After A.symmetric_difference_update(B): {1, 2, 3, 6, 7, 8}